.bold-text {
  font-weight: bold;
}
.rotate_text {
//   padding: 3px;
  font-size: 15px;
  margin-left: -10px;
  display: inline-block;
  transform: rotate(42deg);
  background: bisque;
  margin-top: -1px;
}
