<ion-app>
	<ion-split-pane>
		<ion-menu>
			<ion-header>
				<ion-toolbar>
					<ion-title>Menu</ion-title>
				</ion-toolbar>
			</ion-header>
			<ion-content>
				<ion-list>
					<ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
						<ion-item [routerDirection]="'root'" [routerLink]="[p.url]" style="--border-style: none">
							<ion-icon slot="start" style="color: green;" [name]="p.icon" [src]="p.src"></ion-icon>
							<ion-label>
								{{p.title}}
							</ion-label>
						</ion-item>
					</ion-menu-toggle>
					<!-- <ion-menu-toggle *ngIf="is_logged" auto-hide="false">
							<ion-item class="menu-logout" (click)="onLogout()" style="--border-style: none;">
								<ion-icon slot="start" name="log-out" color="danger"></ion-icon>
								<ion-label color="danger">Log Out</ion-label>
							</ion-item>
						</ion-menu-toggle> -->
				</ion-list>
			</ion-content>
			<!-- <ion-footer>
					<ion-menu-toggle *ngIf="is_logged" auto-hide="false">
						<ion-item class="menu-logout" (click)="onLogout()" style="border-style: none;">
							<ion-icon slot="start" name="log-out" color="danger"></ion-icon>
							<ion-label color="danger">Log Out</ion-label>
						</ion-item>
					</ion-menu-toggle>
					<ion-menu-toggle *ngIf="!is_logged" auto-hide="false">
						<ion-item class="menu-logout" (click)="onLogin()" style="border-style: none;">
							<ion-icon slot="start" name="log-in" color="danger"></ion-icon>
							<ion-label color="danger">Log In</ion-label>
						</ion-item>
					</ion-menu-toggle>
				</ion-footer> -->
		</ion-menu>
		<ion-router-outlet main></ion-router-outlet>
	</ion-split-pane>
</ion-app>