<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Product Category</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="global.onHomeClicked()">
        <ion-icon name="home" style="font-size: x-large;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="product_form">
    <ion-list>
      <ion-searchbar animated="true" mode="ios" placeholder="Search Product" formControlName="product_value"
        #filter_term>
      </ion-searchbar>
      <span *ngIf="product_form.valid">
        <ion-item *ngFor="let product of products | productFilter: filter_term.value;"
          (click)="productSelected(product)">
          {{ product['name'] }}
        </ion-item>
      </span>
    </ion-list>
  </form>
  <ion-grid class="dashboard-grid">
    <ion-row style="text-align: center;">
      <ion-col size="6" *ngFor="let product of product_category" (click)="productCategoryClicked(product)">
        <div class="background-image" [ngStyle]="{'background-image': 'url('+category_images[product.id]+')'}">
          <ion-row *ngIf="page_action == 'buy'">
            <ion-col style="text-align: right;">
              <ion-badge>{{available_product_category[product.id]}}</ion-badge>
            </ion-col>
          </ion-row>
          <ion-label class="product_title">{{product['name']}}</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>