<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Your product list</ion-title>
  </ion-toolbar>
  <ion-fab vertical="top" horizontal="end">
    <ion-fab-button (click)="addNewProductClicked()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-header>

<ion-content>

  <ion-card *ngFor="let post of post_list">
    <ion-row>
      <ion-col>
        Product name : {{post['product_name']}}<br>
        Post date : {{post['time_created'] | date}}<br>
        Expiry date : <span *ngIf="post['expiry_date'] !=null">{{post['expiry_date'] | date}}</span>
        <span *ngIf="post['expiry_date'] ==null">Not Available</span>
      </ion-col>
      <ion-col size="4" *ngIf="enquiry_details!=null">
        <ion-chip *ngIf="enquiry_details.hasOwnProperty(post.id)" (click)="enquiryProductClicked(post)">
          <ion-badge>{{enquiry_details[post.id].length}}</ion-badge>&nbsp;Enquiry
        </ion-chip>
        <ion-chip *ngIf="!enquiry_details.hasOwnProperty(post.id)">
          <ion-badge>0</ion-badge>&nbsp;Enquiry
        </ion-chip>
      </ion-col>
    </ion-row>
    <hr style="border-width: 0.2px;">
    <ion-row style="text-align: center;" *ngIf="post.is_active && !post.is_sold">
      <ion-col>
        <ion-button size="small" style="text-transform: initial;" (click)="removeOrSoldOutClicked(post, 'remove')">
          Remove
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="small" style="text-transform: initial;" (click)="removeOrSoldOutClicked(post, 'sold_out')">
          Mark sold
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="small" style="text-transform: initial;" (click)="postEditClicked(post)">Edit
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-label *ngIf="post.is_sold && !post.is_active">
          Product sold
        </ion-label>
        <ion-label *ngIf="!post.is_active && !post.is_sold">
          Product Removed
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>