<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="managePostClicked()">
    Manage your products
  </ion-button>
  <form [formGroup]="user_profile_form">
    <ion-list lines="full" *ngIf="user_data!=null">
      <!-- <ion-row>
        <ion-col style="text-align: right">
          <ion-button fill="clear" style="border-radius: 25px; background: salmon" (click)="formEditClicked()">
            <span *ngIf="is_form_editable">Edit</span>
            <span>Cancel</span>
          </ion-button>
        </ion-col>
      </ion-row> -->
      <ion-row class="align-items-center">
        <ion-col>
          <ion-item class="border-class">
            <ion-label position="stacked">First Name<ion-icon name="star" style="color: red;"></ion-icon>
            </ion-label>
            <ion-input formControlName="first_name"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item class="border-class">
            <ion-label position="stacked">Last Name<ion-icon name="star" style="color: red"></ion-icon>
            </ion-label>
            <ion-input formControlName="last_name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="align-items-center">
        <ion-col>
          <ion-item class="border-class">
            <ion-label position="stacked">Mobile Number<ion-icon name="star" style="color: red"></ion-icon>
            </ion-label>
            <ion-input formControlName="phone" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item class="border-class">
            <ion-label position="stacked">E-mail</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row class="align-items-center" *ngIf="districts != null">
        <ion-col>
          <ion-item class="border-class">
            <ion-label position="stacked">State<ion-icon name="star" style="color: red"></ion-icon>
            </ion-label>
            <ion-select formControlName="state" interface="action-sheet" (ionChange)="stateValueChanged()">
              <ion-select-option *ngFor="let state of states" [value]="state.id">
                {{state.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item class="border-class">
            <ion-label position="stacked">District<ion-icon name="star" style="color: red"></ion-icon>
            </ion-label>
            <ion-select formControlName="district" interface="action-sheet">
              <ion-select-option *ngFor="let district of districts[user_profile_form.value.state]"
                [value]="district.id">
                {{district.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="align-items-center">
        <ion-col>
          <ion-item class="border-class">
            <ion-label position="stacked">Door No, Address<ion-icon name="star" style="color: red"></ion-icon>
            </ion-label>
            <ion-textarea formControlName="address"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="align-items-center">
        <ion-col>
          <ion-item class="border-class">
            <ion-label position="stacked">Pincode<ion-icon name="star" style="color: red"></ion-icon>
            </ion-label>
            <ion-input type="number" formControlName="pincode"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item class="border-class">
            <ion-label position="stacked">Company name
            </ion-label>
            <ion-input type="text" formControlName="company_name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="align-items-center">
        <ion-col>
          <ion-item class="border-class">
            <ion-label position="stacked">Type of trader<ion-icon name="star" style="color: red"></ion-icon>
            </ion-label>
            <ion-select formControlName="type_of_trader" interface="popover">
              <ion-select-option *ngFor="let type of trader_type_cv" [value]="type.id">
                {{type.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item class="border-class">
            <ion-label position="stacked">Trader user type<ion-icon name="star" style="color: red"></ion-icon>
            </ion-label>
            <ion-select formControlName="trade_user_type" interface="popover">
              <ion-select-option *ngFor="let type of trade_user_type" [value]="type.id">
                {{type.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="align-items-center">
        <ion-col>
          <ion-item class="border-class">
            <ion-label position="stacked">Alternative Number
            </ion-label>
            <ion-input formControlName="alternate_phone" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <ion-row class="align-items-center">
    <ion-col></ion-col>
    <ion-col>
      <ion-button class="activated" [disabled]="!user_profile_form.valid" type="submit"
        [color]="user_profile_form.valid ? 'success' : 'medium'" (click)="updateFarmer()">Update
      </ion-button>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-footer>