<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="product_category!=null">{{product_category['name']}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="global.onHomeClicked()">
        <ion-icon name="home" style="font-size: x-large;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col *ngFor="let product of product_sub_category" size="6">
      <ion-card (click)="productSubCategoryClicked(product)" style="height: 82%; font-size: 21px;">
        <ion-row>
          <ion-col size="2" style="width: 21px;">
            <ion-img src="assets/plant_icons/Apple.svg"></ion-img>
          </ion-col>
          <ion-col style="margin-left: 5px;">
            {{product['name']}}
          </ion-col>
          <ion-col size="2" style="float: left;" *ngIf="page_action == 'buy'">
            <ion-badge>{{available_product_sub_category[product.id]}}</ion-badge>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>