<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="product_category!=null">{{product_category['name']}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="global.onHomeClicked()">
        <ion-icon name="home" style="font-size: x-large;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="dashboard-grid">
    <ion-row style="text-align: center;">
      <ion-col size="4" *ngFor="let product of product_sub_category" (click)="productSubCategoryClicked(product)">
        <!-- <span>
          <img [src]="sub_category_images[product.id]" style="width: 100px; height:100px;"
            *ngIf="sub_category_images.hasOwnProperty(product.id)">
        </span><br> -->
        <div class="background-image" [ngStyle]="{'background-image': 'url('+sub_category_images[product.id]+')'}">
          <ion-row *ngIf="page_action == 'buy'">
            <ion-col style="text-align: right;">
                <ion-badge *ngIf="page_action == 'buy'">{{available_product_sub_category[product.id]}}</ion-badge>
            </ion-col>
          </ion-row>
          <ion-label class="product_title">{{product['name']}} &nbsp;
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>