<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="product_sub_category!=null">{{product_sub_category['name']}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="global.onHomeClicked()">
        <ion-icon name="home" style="font-size: x-large;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="dashboard-grid">
    <ion-row style="text-align: center;">
      <ion-col size="4" *ngFor="let product of products" (click)="productClicked(product)">
        <!-- <span>
          <img [src]="product_images[product.id]" style="width: 100px; height:100px;"
            *ngIf="product_images.hasOwnProperty(product.id)">
        </span><br> -->
        <div class="background-image"  [ngStyle]="{'background-image': 'url('+product_images[product.id]+')'}">
          <ion-label class="product_title" style="word-wrap: break-word;">{{product['name'] | slice : 0:8}}
           &nbsp;
          <ion-badge *ngIf="page_action == 'buy'">{{available_product_count[product.id]}}</ion-badge></ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>