/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-modal.register-modal {
  // transparent black background overlay
  background-color: rgba(0, 0, 0, 0.5) !important;
  transition: opacity 0.25s ease-in-out;
  padding: 18vh 6vw;
}

ion-modal.send-enquiry {
  // transparent black background overlay
  background-color: rgba(0, 0, 0, 0.5) !important;
  transition: opacity 0.25s ease-in-out;
  padding: 14vh 6vw;
}

ion-modal.post-action {
  // transparent black background overlay
  background-color: rgba(0, 0, 0, 0.5) !important;
  transition: opacity 0.25s ease-in-out;
  padding: 18vh 6vw;
}

ion-modal.preview-post {
  // transparent black background overlay
  background-color: rgba(0, 0, 0, 0.5) !important;
  transition: opacity 0.25s ease-in-out;
  padding: 28vh 6vw;
}

ion-popover.product-filter {
  --width: 250px;
  --max-height: 80%
}

ion-toolbar {
  //--color: white;
  --background: var(--ion-toolbar-background-color)
}